/* variables */
$primaryColorDarkness: #000000;
$primaryColorDark: #2A272A;
$primaryColor: #4B4A54;
$primaryColorLight: #677381;
$primaryColorLightness: #82A0AA;

$secondaryColorDark: #00bc8c;
$secondaryColor: #00dba3;
$secondaryColorLight: #CFFBE2;
$fontColor: #ffffff;
$fontColorAlt: $secondaryColor;

/* Overwrite theme */
$theme-colors: (
  "primary": $secondaryColor
);
@import '~bootstrap/scss/bootstrap.scss';


/* Custom css and overwrite */
body {
    background-color: $primaryColorLight;
}

.titleApp {
    font-size: 2.25em;
    color:$fontColor;
    font-weight: 400;
    margin-top: 1em;
}
.menuApp {
    .nav-link {
        margin: 0.25em 0;
        margin-left:1em;
        background-color: $primaryColorDark;
        padding: 0.4rem 0.5rem;
        color: $fontColor !important;
        font-weight: bold;
        text-transform: uppercase;
        font-size: 0.75em;
        transition: 0.5s ease-in;
        &:hover {
            background-color: $primaryColorLight;
        }
    }
}
.tableQuestions {
    .headerQuestions {
        background-color: $primaryColorDark;
        th {
            cursor: default;
            font-weight: 500;
            text-transform: capitalize;
            &.sorteable {
                cursor: pointer;
                & > span {
                    color: $secondaryColor;
                    font-size: 0.75em;
                    padding-left: 0.25em;
                }
                &:hover > span {
                    color: $secondaryColorDark;
                }
            }
        }
    }
    .bodyQuestions {
        background-color: $primaryColorDarkness;
        td {
            padding: 0.5em;
            &:last-child {
                color: $secondaryColor;
            }
        }
    }
}
.paginationZone {
    justify-content: center;
    .page-link {
        background-color: #00bc8c;
        color: white;
        border: none;
        font-weight: bold;
        transition: 0.5s ease-in;
        &:not(.active):hover {
            background-color: $secondaryColor;
        }
    }
}
