$primaryColorDarkness: #000000;
$primaryColorDark: #2A272A;
$primaryColor: #4B4A54;
$primaryColorLight: #677381;
$primaryColorLightness: #82A0AA;

$secondaryColorDark: #00bc8c;
$secondaryColor: #00dba3;
$secondaryColorLight: #CFFBE2;
$fontColor: #ffffff;
$fontColorAlt: $secondaryColor;

$theme-colors: (
  "primary": $secondaryColor
);

@import '~bootstrap/scss/bootstrap.scss';



body {
    background-color: $primaryColorLight;
}

.titleApp {
    font-size: 2.25em;
    color:$fontColor;
    font-weight: 400;
    margin-top: 1em;
}
.menuApp {
    .nav-link {
        margin: 0.25em 0;
        margin-left:1em;
        background-color: $primaryColorDark;
        padding: 0.4rem 0.5rem;
        color: $fontColor !important;
        font-weight: bold;
        text-transform: uppercase;
        font-size: 0.75em;
    }
}
.tableQuestions {
    .headerQuestions {
        background-color: $primaryColorDark;
        th {
            // color: $secondaryColor;
            font-weight: 500;
            text-transform: capitalize;
        }
    }
    .bodyQuestions {
        background-color: $primaryColorDarkness;
        td {
            padding: 0.5em;
        }
    }
}
.paginationZone {
    justify-content: center;
    .page-link {
        background-color: #00bc8c;
        color: white;
        border: none;
        font-weight: bold;
        span[aria-hidden='true'] {
            font-size: 1em;
            content: '->';
        }
        &:not(.active):hover {
            background-color: $secondaryColor;
        }
    }
}
